*{
margin: 0px;
padding:0px;
}
h1{
 font:bold 60px Tahoma;
 background:orange;

}
h2{
font:bold 14px Tahoma;
background:
}
 
header,nav,section,article,footer,hgroup,aside{
display:block;
}
body{
text-align:center;
width:100%;
display:webkit-box;
box-pack:center;
background:black;
} 
#wrapper{

max-width:1500px;
margin:20px 0px;
text-align:centre;
display:webkit-box;
box-orient:vertical;
box-flex:1;
color:white;
}

}
#top_header{

border:1px solid black;
padding:20px;
padding-top:30px;
}

#top_menu{
background:#333333;

-webkit-box-shadow:rgba(110,110,110,.4) 8px 8px 8px;
}

#top_menu li{
color:white;
 
display:inline-block;
list-style:none;
padding:5px;
padding-right:25px;
font: bold 14px Tahoma;
-webkit-border-radius:25px;
}
      a:link{
	  color:white;
	  }
	  a:hover{
	   color:red;
	  }
	  a:active{
	   color:blue;
	  }
	  a:visited{
	   color:orange;
	  }
	  a{
	  text-decoration:none;
	  }

#new_div{
display:-webkit-box; 
-webkit-box-orient:horizontal;

}
#main_content{
-webkit-box-flex:1;
margin:20px;
padding:20px;
}

#article1{
border:1px solid black;
}
mg{
width:100%;
}
#article2{
border:1px solid black;
}

#side_news{
 
   width:120px;
   margin:20px 0px;
   padding: 30px;
   background: #666666;
   -webkit-box-shadow:rgba(110,110,110,.4) 8px 8px 8px;
}
}
#the_footer{
text-align:center;
padding:20px;
border-top: 2px solid black;
 
}

 span{
 color:red;
 }
 #album{
 -webkit-box-flex:1;
 display:-webkit-box; 
-webkit-box-orient:horizontal;
margin:20px;
padding:20px;

 }

  #pic{
  display:-webkit-box; 
 /*width:320px;
 height:300px;*/
 margin:10px;
-webkit-box-flex:1;
width:40%;
 }
  #pic3{
  display:-webkit-box; 
 /*width:320px;
 height:300px;*/
 margin:10px;
-webkit-box-flex:1;
/* background-color:orange;*/
 }
 #communication{

 padding:40px;
 margin-left:10px auto;
 }
 